version: '3.3'

services:

  users:
    build:
      context: ./services/users
      dockerfile: Dockerfile-dev
    expose:
      - 5000
    environment:
      - FLASK_ENV=development
      - APP_SETTINGS=project.config.DevelopmentConfig
      - DATABASE_URL=postgres://postgres:postgres@users-db:5432/users_dev
      - DATABASE_TEST_URL=postgres://postgres:postgres@users-db:5432/users_test
    depends_on:  # <-- nuevo
      - users-db
  users-db:  # <-- nuevo
    build:
      context: ./services/users/project/db
      dockerfile: Dockerfile
    ports:
      - 5435:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  nginx:
    build:
      context: ./services/nginx
      dockerfile: Dockerfile-prod
    restart: always         
    ports:
      - 80:80
    depends_on:
      - users
  dockerfile:
    build:
      context: ./services/users
      dockerfile: Dockerfile-prod

